# Core Computation
numpy
numba

# Graph Theory (For Watts-Strogatz Small World topology)
networkx

# Data Management
pandas
pyarrow
PyYAML

# Visualization
matplotlib


# to install, prompt in terminal: pip install -r requirements.txt